.button-warning {
  background-color: #dc143c !important;
}

.button-primary {
  background-color: #0080ff !important;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  color: white;
  border-radius: 5px;
  border: none;
}
