/* You can add global styles to this file, and also import other style files */
@import './app/sass/sidebar';
@import './app/sass/button';
@import './app/sass/card';

.background-nav {
  background-color: #0080ff !important;
  border-radius: 0 !important;
  & .item {
    color: white !important;
    & a {
      color: white !important;
    }
  }
}
